
<div id="header">
  <div class="center-container">
    <a href="/">
      <div class="logo"></div>
      <span class='big'>{{ site.title }}</span>
    </a>
    <span class='small'>{{ site.subtitle }}</span>
  </div>
</div>


<div id="nav">
    <div class="center-container">
      {% for item in site.nav %}
        {% if item.href contains 'http' %}
           <a href="{{ item.href }}">{{ item.title }}</a>
        {% else %}
           <a href="{{ item.href | relative_url }}">{{ item.title }}</a>
        {% endif %}
        {% if forloop.last %}  {% else %} • {% endif %}
      {% endfor %}
    </div>
</div>
