html { color-scheme: light; }

:root {
  --background: #f7f6ee;
  --secondary: #fbfefb;
  --text-dark: #101010;
  --text: #333333;
  --text-light: #7b7b85;
  --text-lighter: #ababab;
  --blue: #07de;
  --green: #27ae6088;
  --yellow: #feca5788;
  --red: #c0392b88;
  --white: #ffffff;
  --background-secondary: #cecece;
  --background-tertiary: #cecece;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1f23;
    --secondary: #232428;
    --text-dark: #78869b;
    --text: #c4c5c9;
    --text-light: #6c6d71;
    --text-lighter: #8e8f93;
    --background-secondary: #333;
    --background-tertiary: #333;
  }
  html { color-scheme: dark; }
}

body {
  background-color: var(--background);
  color: var(--text);
}

#header, #footer { background: var(--background-secondary); }
#nav             { background: var(--background-tertiary); }
#content         { background: var(--background); }
a, a:visited     { color: var(--blue); }
blockquote       {
  border-left: 3px solid var(--green);
  background: #6661;
}
strong           { color: var(--text-dark); }
