:root {
  --background: #f7f6ee;
  --secondary: #fbfefb;
  --text-dark: #101010;
  --text: #333333;
  --text-light: #7b7b85;
  --text-lighter: #ababab;
  --blue: #3498db;
  --green: #27ae60;
  --yellow: #feca57;
  --red: #c0392b;
  --white: #ffffff;
  --background-secondary: #ddd;
  --background-tertiary: #eee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1f23;
    --secondary: #232428;
    --text-dark: #efefef;
    --text: #c4c5c9;
    --text-light: #6c6d71;
    --text-lighter: #8e8f93;
    --background-secondary: #111;
    --background-tertiary: #333;
  }
}

body {
  background: var(--background);
  color: var(--text);
}

#header, #footer { background: var(--background-secondary); }
#nav             { background: var(--background-tertiary); }
#content         { background: var(--background); }
a, a:visited     { color: var(--blue); }
