---
###
# note: will result in an all-in-one-file stylesheet e.g. style.css
#   in _config.yml add:
#     sass:
#       sass_dir: css
#       style:    expanded
---


@import 'settings';
@import 'colors';

/* =Reset
-------------------------------------------------------------- */
 
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
}
 
html, body, div {
  margin: 0;
  padding: 0;
}
 
body{
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

#header, #footer, #nav, #content {
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
}
.center-container {
    width: 50%;
}

#content {
 padding: 1.2em;
 margin-bottom: auto;
 overflow: auto;
}
a, a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }

#header {
 padding: 1.2em 0.3em;
 a { color: inherit; }
 a:hover { text-decoration: none; color: var(--blue); }
 a:hover .logo {
  filter: brightness(0.5) sepia(2) hue-rotate(159deg) contrast(2);
 }
}
#nav {
 padding: 0.5em 1em;
 a { color: inherit; }
 a:hover { color: var(--blue); }
}

#header .big {
  font-size:   140%;
  font-weight: bold;
}
#header .small { font-size:    90%; padding-left: 15px; }
#footer {
  height: 3em;
  min-height: 3em;
}

.logo {
  display: inline-block;
  background: url(/images/favicon.svg?v={{ site.time | date:'%s' }});
  width: 2em;
  height: 2em;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  margin-bottom: -0.5em;
  margin-right: 0.2em;
  margin-left: 0.5em;
}

blockquote {
  padding: 0.5em 1em;
  margin: 0.5em 0.25em;
  p:last-child { margin-bottom: 0; }
}
