---
###
# note: will result in an all-in-one-file stylesheet e.g. style.css
#   in _config.yml add:
#     sass:
#       sass_dir: css
#       style:    expanded
---


@import 'settings';
@import 'colors';

/* =Reset
-------------------------------------------------------------- */
 
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
}
 
html, body, div {
  margin: 0;
  padding: 0;
}
 
body{
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

#header, #footer, #nav, #content { width: -webkit-fill-available; }
#content { margin-bottom: auto; }
a, a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }

#header { padding: 4px; }
#nav { padding: 6px; }
#header .big {
  font-size:   140%;
  font-weight: bold;
}
#header .small { font-size:    90%; padding-left: 15px; }

#logo {
 display: inline-block;
 background: url(/images/favicon.svg);
 width: 25px;
 height: 25px;
}
