---
layout: default
---
<div class="page-header">
  <time class="publish-date" datetime="{{ post.date | date: '%F' }}">
    {{ page.date | date: "%B %-d, %Y" }}
  </time>
  <h1 class="page-title">{{page.title}}</h1>
</div>
<div class="post-container">
  {% if page.img %}
   <img class="post-img" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
  {% endif %}
  {% if page.image and page.video == nil %}
    <img class="post-img" src="{{page.image}}" alt="{{page.title}}">
  {% endif %}
  {% if page.video %}
    <div class="video-container">
      <iframe
        class="video"
        src="https://www.youtube.com/embed/{{page.video}}"
        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:65px/1.5 sans-serif;color:white;text-shadow:2px 2px 0.25em black, -2px -2px 0.25em black;}</style><a href=https://www.youtube.com/embed/{{page.video}}?autoplay=1><img src=https://img.youtube.com/vi/{{page.video}}/maxresdefault.jpg alt='{{page.title}}'><span>▶</span></a>"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        title="{{page.title}}"
      ></iframe>
    </div>
  {% endif %}
  <div class="post-content">
    <article>
      {% if page.author %}
        <div class="date-byline"><span><i class="fa fa-calendar-o" aria-hidden="true"></i> {{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{page.author}}</span></div>
      {% endif %}
      {% if page.description %}
        <blockquote>{{page.description}}</blockquote>
      {% endif %}
      {{page.content | markdownify}}
    </article>
  </div>
</div>
<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
